<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>segMatchs</key>
	<array>
		<dict>
			<key>number</key>
			<string>0</string>
			<key>name</key>
			<string>不限</string>
		</dict>
		<dict>
			<key>number</key>
			<string>1</string>
			<key>name</key>
			<string>倔强青铜</string>
		</dict>
		<dict>
			<key>number</key>
			<string>2</string>
			<key>name</key>
			<string>秩序白银</string>
		</dict>
		<dict>
			<key>number</key>
			<string>3</string>
			<key>name</key>
			<string>荣耀黄金</string>
		</dict>
		<dict>
			<key>number</key>
			<string>4</string>
			<key>name</key>
			<string>尊贵铂金</string>
		</dict>
		<dict>
			<key>number</key>
			<string>5</string>
			<key>name</key>
			<string>永恒钻石</string>
		</dict>
		<dict>
			<key>number</key>
			<string>6</string>
			<key>name</key>
			<string>至尊星耀</string>
		</dict>
		<dict>
			<key>number</key>
			<string>7</string>
			<key>name</key>
			<string>最强王者</string>
		</dict>
	</array>
	<key>roomTypes</key>
	<array>
		<dict>
			<key>number</key>
			<string>0</string>
			<key>name</key>
			<string>不限</string>
		</dict>
		<dict>
			<key>number</key>
			<string>1</string>
			<key>name</key>
			<string>AA房</string>
		</dict>
		<dict>
			<key>number</key>
			<string>2</string>
			<key>name</key>
			<string>撒币房</string>
		</dict>
		<dict>
			<key>number</key>
			<string>3</string>
			<key>name</key>
			<string>悬赏房</string>
		</dict>
	</array>
	<key>gameAreas</key>
	<array>
		<dict>
			<key>number</key>
			<string>0</string>
			<key>name</key>
			<string>不限</string>
		</dict>
		<dict>
			<key>number</key>
			<string>1</string>
			<key>name</key>
			<string>QQ大区</string>
		</dict>
		<dict>
			<key>number</key>
			<string>2</string>
			<key>name</key>
			<string>微信大区</string>
		</dict>
	</array>
	<key>createSegMatchs</key>
	<array>
		<dict>
			<key>number</key>
			<string>1</string>
			<key>name</key>
			<string>倔强青铜</string>
		</dict>
		<dict>
			<key>number</key>
			<string>2</string>
			<key>name</key>
			<string>秩序白银</string>
		</dict>
		<dict>
			<key>number</key>
			<string>3</string>
			<key>name</key>
			<string>荣耀黄金</string>
		</dict>
		<dict>
			<key>number</key>
			<string>4</string>
			<key>name</key>
			<string>尊贵铂金</string>
		</dict>
		<dict>
			<key>number</key>
			<string>5</string>
			<key>name</key>
			<string>永恒钻石</string>
		</dict>
		<dict>
			<key>number</key>
			<string>6</string>
			<key>name</key>
			<string>至尊星耀</string>
		</dict>
		<dict>
			<key>number</key>
			<string>7</string>
			<key>name</key>
			<string>最强王者</string>
		</dict>
	</array>
	<key>roomModes</key>
	<array>
		<dict>
			<key>number</key>
			<string>0</string>
			<key>name</key>
			<string>不限</string>
		</dict>
		<dict>
			<key>number</key>
			<string>1</string>
			<key>name</key>
			<string>多排</string>
		</dict>
		<dict>
			<key>number</key>
			<string>2</string>
			<key>name</key>
			<string>五排</string>
		</dict>
		<dict>
			<key>number</key>
			<string>3</string>
			<key>name</key>
			<string>对战</string>
		</dict>
	</array>
	<key>segMatchsLists</key>
	<array>
		<dict>
			<key>number</key>
			<string>0</string>
			<key>name</key>
			<string>不限</string>
		</dict>
		<dict>
			<key>number</key>
			<string>1</string>
			<key>name</key>
			<string>青铜</string>
		</dict>
		<dict>
			<key>number</key>
			<string>2</string>
			<key>name</key>
			<string>白银</string>
		</dict>
		<dict>
			<key>number</key>
			<string>3</string>
			<key>name</key>
			<string>黄金</string>
		</dict>
		<dict>
			<key>number</key>
			<string>4</string>
			<key>name</key>
			<string>铂金</string>
		</dict>
		<dict>
			<key>number</key>
			<string>5</string>
			<key>name</key>
			<string>钻石</string>
		</dict>
		<dict>
			<key>number</key>
			<string>6</string>
			<key>name</key>
			<string>星耀</string>
		</dict>
		<dict>
			<key>number</key>
			<string>7</string>
			<key>name</key>
			<string>王者</string>
		</dict>
	</array>
</dict>
</plist>
